* {
    margin: 0;
    padding: 0;
}

body {
    width: 80%;
    margin: 0 auto;
}
header{
    background-image: url("./images_projet_web/sujet3_template_image0.jpg");    
    height: 400px;
}
.cadre{
    color:rgba(240,196,13,255);
    border:solid rgba(240,196,13,255) 4px;
    top:10%;
    right: 5%;
    float: right;
    width: 20%;   
    height: 80%;
    margin-left: 40px;
    padding: 60px 20px 10px 30px;

}
.cadre h1{
    text-align: left;

}

   

.right{
    float: right;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
  }
  
.gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}


.img-holder {
    position: relative;
    margin: 5px;
    align-self: flex-start;
}
.img-holder p {
    position: absolute;
    bottom: -20px;
    font-weight: bolder;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    margin: 0;
}




.photo{
    display:block;
    font-size: 0;
    width: 100%;

}
.photo img{
    padding: 0;
    border: 0;
    margin: 0;
    width: 50%;
    height: 450PX;
    object-fit: cover;
}


  
section h1,p{
    text-align: center;
}


.subscribe{
    padding: 20px;

}
.subscribe h1,p{
    text-align: left;
}
input[type="text"]{
    height: 30px;
    width: 40%;
}

input[type="button"]{
    height: 30px;
    width: 15%;
    background-color: rgba(240,196,13,255);
}

footer{
    background-color: black;
    height: 200px;
}